@{
    ViewData["Title"] = "Information";
}
<!DOCTYPE html>
 <!--тип документа-->
<html lang="ru">
<head>
    <!--основные данные-->
    <meta charset="UTF-8"><!--метаданные(кодировка)-->
    <title>Главная</title><!--задаём заголовок страницы-->
    <link rel="stylesheet" href="~/css/InfoStyle.css"/>

</head>

<body>

    <h1>
        Немного о нас
    </h1>
    <h2> Мы вам поможем!</h2>
    <div class="books_important">
        <div class="block">
            <span>
                Мы живем в цифровую эпоху. Когда информация всегда под рукой,
                легко забыть о ценности бумажных книг. В то время как электронные
                книги и аудиокниги набирают огромную популярность, многие начинают
                сомневаться в целесообразности содержания домашней библиотеки.
                Как бы ни была заманчива идея быстро освободить пространство вашего
                дома, пожалуйста, не выбрасывайте книги на свалку! Призываем вас 10
                раз подумать перед тем, как принять решение в пользу утилизации книг.
                Ведь это не только потеря информации, которая может оказаться ценной
                для других людей, но и существенный вред окружающей среде.
            </span>
            <div>
                <img src="~/image/wood.jpg" alt="">
            </div>
            
        </div>
        <div class="block">
            <span>
                В нашем мире, где многое кажется одноразовым, книги служат напоминанием
                о важности сохранения нашей истории и культуры. Это источник информации,
                дающий незаменимую глубину знаний. И пусть в Интернете сейчас можно найти
                практически все, ничто не сравнится с тем, чтобы держать в руках книгу
                и листать ее страницы.
            </span>

            <img src="~/image/trash.jpg" alt="">
        </div>
        <div class="block">
            <span>
                Если вам не хватает пространства и вы твердо решили проредить домашнюю библиотеку, но сделать это без угрызений совести,
                обратитель к нам в магазин, мы купим её у вас и она будет передавать дальше свои знания. Позвоните нам или напишите! Перейдя
                в контакты с основной страницы, вы найдёте наши контактные данные и время работы.
            </span>

            <img src="~/image/old.jpg" alt="">
        </div>


    </div>

   

</body>
</html>