
@{
    ViewData["Title"] = "Katalog";
}
<!DOCTYPE html>
 <!--тип документа-->
<html lang="ru">
<head>
    <!--основные данные-->
    <meta charset="UTF-8"><!--метаданные(кодировка)-->
    <title>Каталог</title><!--задаём заголовок страницы-->
    <link rel="stylesheet" href="~/css/KatalogStyle.css"/>

</head>
<body>
    <!--основной тэг страницы-->
    <h1>
        Каталог
    </h1>
    <p>
        Выберите жанр литературы, который вас интересует:
    </p>
    <div class="katalog_books">
        <button class="button" id="FanButton">Фантастика</button>
        <button class="button" id="DetButton">Детективы</button>
        <button class="button" id = "RomButton">Романы</button>
        <button class="button" id="KlassButton">Классика</button>
        <button class="button" id="TrillButton">Триллеры</button>
        <button class="button" id="PoeButton">Поэзия</button>
        <button class="button" id="EroButton">Эротика</button>
        <button class="button" id="ScienButton">Научное</button>
        <button class="button" id="AnoButton">Другое</button>
    </div>
    <table class="contur">
        <thead><tr><th></th><th></th><th></th><th></th></tr></thead>
        <tbody id="sbooks">
        </tbody>
    </table>

   

    <script type="text/javascript" src="~/js/KatalogJs.js"></script>

</body>
</html>